body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1rem;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-weight: bold;
}

.ohmy {
  text-align: center;
}

.logomap {
  text-align: center;
  background-color: #eaeaea;
  padding: 10px;
}
.logomap input {
  border: none;
  background-color: transparent;
  width: 30%;
  font-weight: bold;
}

.barre {
  display: flex;
  justify-content: center;
}

i {
  margin-right: 15px;
}

.cadrereserv {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1rem;
}
.cadrereserv .decouverte {
  font-size: 1.2rem;
  font-weight: 100;
}
.cadrereserv .buttonexplo {
  border: none;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 10rem;
  color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
}

.reser, p, button {
  text-align: center;
}

.fonction {
  flex-direction: column;
}
.fonction_name {
  padding-left: 1rem;
}
.fonction .menu {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fonction .menu_number {
  margin-left: -1.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #9356DC;
  border-radius: 5rem;
  color: white;
  margin-top: 0.75rem;
}
.fonction .menu_number span {
  padding: 0.4rem 0 0 0.75rem;
  display: block;
}
.fonction .menu_card {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  padding: 0.5rem;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  color: black;
  font-weight: bold;
  width: 100%;
}
.fonction .menu_card p {
  margin: 0;
  padding: 1rem;
}
.fonction .menu_card i {
  padding: 1rem;
  color: grey;
}
.fonction :hover i {
  color: #9356DC;
}
.fonction :hover .menu_card {
  background-color: #f5edff;
}

.titreresto {
  background-color: #f6f6f6;
}
.titreresto_blocimg {
  box-shadow: 0px 2px 4px 0px;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.titreresto_blocimg .titreresto_textt {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.titreresto_blocimg .titreresto_textt .titreresto_text {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.titreresto_text1 {
  padding: 0.5rem;
  margin-top: 2rem;
}
.titreresto_text2 {
  padding-left: 1rem;
}
.titreresto_symbole {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  padding-top: 2rem;
}
.titreresto_symbole .fa-solid.fa-heart {
  position: absolute;
  opacity: 0;
  color: #9356DC;
  transition: all 1s;
}
.titreresto_symbole:hover .fa-solid.fa-heart {
  opacity: 1;
}
.titreresto_soustext {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

img {
  max-width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.baspage {
  background-color: #353535;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
.baspage_name {
  display: flex;
}
.baspage_text {
  display: flex;
}
.baspage i {
  padding-top: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
