
body
{	    
font-family: 'Roboto', sans-serif;
}
h1
{
	font-family: 'Shrikhand', cursive;
}
h2
{
	font-weight: bold;
}
.ohmy
{
text-align: center;
}
.logomap
{
	display: flex;
	background-color: lightgrey;
	padding: 10px;
}
.buttonexplo
{
	display: flex;
	justify-content: center;
	border: none;
	background-color: purple;
	border-radius: 10px 10px 10px 10px;
	color: white;
}

i
{
margin-right: 15px;
}
form
{

 
}
.cadrereserv
{
background-color: lightgrey;

}
.reser,p,button
{
	text-align: center;


}
.fonctio
{
	flex-direction: column;
}
.titreimage
{
	background-color: lightgrey;
}
.imagep1
{

}
.choixcomplet
{
	display: flex;
	
	justify-content: center;

}
