
body
{	    
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 1rem;
	background-color: #f6f6f6;
}
a {
	text-decoration: none;
}

h1
{
	font-family: 'Shrikhand', cursive;
}
h2
{
	font-weight: bold;
}
.loader{
	position: fixed;
	display: grid;
	place-items: center;
	background-color: #f6f6f6;
	height: 100vh;
	z-index: 1;
	opacity: 0.9;
	width: 100%;
	animation: disappear 2s forwards;
	animation-delay: 1s;
	transform-origin: top;
	.loader_img{
		color: #9356DC;
	}
}


@keyframes disappear {
	0% {transform: scale(1.0);}
	100%{transform: scale(0);}
}
.ohmy
{
	text-align: center;
}
.logomap
{
	text-align: center;
	background-color: #eaeaea;
	padding: 10px;
	input
	{
		border: none;
		background-color: transparent;
		width: 30%;
		font-weight: bold;
		text-align: center;
		height: 1.2rem;
	}
}
.barre
{
	display: flex;
	justify-content: center;
}



i
{
	margin-right: 15px;
}

.cadrereserv
{
	background-color: #f6f6f6;
	text-align: center;
	padding: 1rem;
	.decouverte
	{
		font-size: 1.2rem;
		font-weight: 100;
	}
	.buttonexplo
	{
		border: none;
		background: linear-gradient(0deg,#9356DC,#FF79DA);
		border-radius: 10rem ;
		color: white;
		margin-bottom: 1rem;
		padding: 1rem;
		font-size: 1.1rem;
		transition: all 0.5s;

		&:hover {
			opacity: 0.8;
		}

	}
}

.reser,p,button
{
	text-align: center;


}

.fonction
{
	
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&_bloc{
		display: flex;
		flex-direction: column;
	}

	&_name{
		padding-left: 1rem;



	}
	.menu
	{
		display: flex;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		flex-direction: row;
		margin-top: 1rem;
		margin-bottom: 1rem;

		
		&_number{
			
			margin-left: -1.5rem;
			width: 2rem;
			height: 2rem;
			background-color: #9356DC ;
			border-radius: 5rem;
			color: white;
			margin-top: 0.75rem;

			span{
				padding: 0.4rem 0 0 0.75rem;
				display: block;

			}

			


		}
		&_card{
			display:flex ;
			flex-direction: row;
			background-color: #f6f6f6;
			padding: 0.5rem;
			border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
			color: black;
			font-weight: bold;
			width: 100%;
			box-shadow: 0 0.25rem 0.5rem #00000033;
			




			p{ 
				margin: 0;
				padding: 1rem 0;





			}

			i
			{
				padding: 1rem;
				color: grey
			}

			
		}	
		&:hover{
			
			.menu_card{
				background-color: #f5edff;
				i{
				color: #9356DC ;
			}
			}

		}
	}
}
	.titreresto
	{
		background-color: #f6f6f6;
		padding-left: 1rem;
		padding-right: 1rem;

		&_menu{
			display: flex;
			flex-wrap: wrap;
		}




		&_blocimg{
			box-shadow: 0px 0.25rem 0.5rem #00000033;
			background-color: white;
			border-radius: 1rem;
			margin-bottom: 2rem;
			width: 100%;


			.titreresto_textt{
				display: flex ;
				width: 100%;
				flex-direction:row ;

				.titreresto_text{

					width: 100%;
					display: flex ;
					flex-direction: column ;

				}

			}
			.titreresto_img {
				position: relative;
				.new{
					background-color: #99E2D0;
					padding: 0.5rem;
					position: absolute;
					top: 10px;
					right: 10px;

				}
				img{
					object-fit: cover;
					height: 200px;
					width: 100%;
					max-width: 100%;
					border-radius: 1rem 1rem 0rem 0rem;

				}
			}
			



		}
		&_text1{
			padding: 0.5rem;
			margin-top: 2rem;

		}
		&_text2{
			padding-left: 1rem;
			h3{
				margin-bottom: 0;
			}
		}

		&_symbole{

			display: flex;
			flex-direction: row-reverse;
			font-size: 1.5rem;
			padding-top: 2rem;


			.fa-solid.fa-heart{
				position: absolute;
				opacity: 0;
				color: transparent ;
				transition: all 1s;
				background: linear-gradient(0deg,#9356DC,#FF79DA);
				background-clip: text;
				-webkit-background-clip: text;


			}


		}
		&_symbole:hover {			

			.fa-solid.fa-heart{
				opacity: 1;

			}
		}

		&_soustext{
			padding-left: 1rem;
			padding-bottom: 1rem;
		}
	}

	.baspage
	{
		background-color: #353535 ;
		color: white;
		padding: 1rem;
		margin-top: 2rem;
		



		&_name{
			display: flex;
			font-family: 'Shrikhand', cursive;
			font-size: 1.2rem;
			letter-spacing: 0.15rem;

		}
		&_text{
			display: flex;
			color: white;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			h5{
				font-size: 1rem;
				margin: 0;
			}
			h6{
				font-size: 1rem;
				margin:0;
			}
		}

	}
	@media (min-width: 768px){

	.baspage_name{
		font-size: 2rem;
	}

		.logomap,input{
			font-size: 1.2rem;
		}
		
		.baspage_text h5{
			font-size: 1.2rem;
		}

		.titreresto_blocimg .titreresto_img .new {font-size: 1.5rem;}
.titreresto_blocimg{
	width: 48%;
}
.titreresto_menu{
	justify-content: space-between;
}

	}


	@media (min-width:992px){

		.menu_card{
		 span{
		 	font-size: 1rem;
		 }
		}
		.fonction{
			&_bloc{
				flex-direction: row;
				.bloc_menu{
					width: 33%;

				}
			}
		}

		.titreresto_blocimg{
	width: 23%;
}
		}
